[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flower = "==1.2.0"

[packages]
attrdict = "==2.0.1"
discord = {py = "==1.2.4"}
python-decouple = "==3.3"
click = "==7.0"
celery = "==4.3.0"
psycopg2 = "*"
pytube3 = ">=9.6.4"

[requires]
python_version = "3.7"
